<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103181817790-l52tvhf6067avprp3ur178eaqsi9806a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103181817790-l52tvhf6067avprp3ur178eaqsi9806a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>103181817790-3sljfj8m8rc7n89eq91u5c8g9ld80t60.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAWRQ_TghKG41cyFynsu133l0JiV5ZFIog</string>
	<key>GCM_SENDER_ID</key>
	<string>103181817790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tripnxt</string>
	<key>PROJECT_ID</key>
	<string>trip-nxt-user</string>
	<key>STORAGE_BUCKET</key>
	<string>trip-nxt-user.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103181817790:ios:4131b9ca322ccc7b074bef</string>
</dict>
</plist>